<div class="container d-flex flex-column min-vh-100">
    <div class="row my-auto justify-content-center">
        <div class="col-6 text-center">
            <section id="header" class="">
                <figure id="">
                    <picture>
                        <img id="profile-picture" class="img-fluid mx-auto d-block"
                            src="../assets/images/profilePic.jpg" alt="Filipe Johansson Profile Picture" />
                    </picture>
                    <blockquote class="blockquote">
                        <p id="name">Filipe Johansson</p>
                    </blockquote>

                    <blockquote class="blockquote">
                        <p>"Ideas and only ideas can light the darkness"</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <a class="blockquote-link" href="https://mises.org/profile/ludwig-von-mises"
                            target="_blank">Ludwig von Mises</a>
                    </figcaption>
                </figure>
            </section>
        </div>
    </div>

    <!-- <fj-navbar></fj-navbar> -->
</div>